/* Style the dropdown button */
.welcome-user {
    color: #2F2F2F;
    line-height: 85px;
    font-weight: 500;
}

.fa-circle-user:before,
.fa-user-circle:before {
    content: "\f2bd";
    color: #fe9307;
}

/* Hide the checkbox */
.toggle-input {
    display: none;
}

/* Style the dropdown content (initially hidden) */
.submenu {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 14px;
    left: 0;
    margin: 0;
    width: 100%;
    opacity: 0;
    padding: 0;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    top: 100%;
    visibility: hidden;
    z-index: 1000;
}

/* Show the dropdown content when checkbox is checked */
.toggle-input:checked+.submenu,
.toggle-input:focus+.submenu {
    display: block;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    border-radius: 2px;
    border-top: 1px solid #FFA633;
}

/* Add styling for dropdown items */
.submenu li a {
    display: block;
    padding: 10px 15px 10px;
    clear: both;
    white-space: nowrap;
    color: #2F2F2F;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    width: 100%;
    position: relative;
    font-weight: 500;
}

/* Change color on hover for dropdown items */
.submenu li a:hover {
    background-color: #ddd;
}

/* numbers bg */
.my-account .user-img img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px dashed #201f1d;
}

.my-account .nav-pills .nav-link {
    color: #201F1D;
    font-weight: 500;
}

.my-account .nav-pills .nav-link.active {
    background-color: #fe9307;
    color: #fff;
    ;
}

.dashboard {
    background: #fe9307;
    padding: 20px;
    border-radius: 10px;
}

.dashboard .count-group {
    position: relative;
    width: 100%;
    display: flex;
    top: 0;
    background-image: url(../img/bg/count-bg.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
    -webkit-transition: 500ms all ease;
    -o-transition: 500ms all ease;
    transition: 500ms all ease;
    -moz-transition: 500ms all ease;
    -ms-transition: 500ms all ease;
}

.dashboard .black-bg {
    padding: 24px;
    background: #201F1D;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
    -webkit-transition: 500ms all ease;
    -o-transition: 500ms all ease;
    transition: 500ms all ease;
    -moz-transition: 500ms all ease;
    -ms-transition: 500ms all ease;
}

.my-account .table-bordered {
    border: 1px solid #dee2e6;
}

.my-account table .badge {
    min-width: 83px;
}

/* rent a car page */
.icon-position .fa-pound-sign {
    margin-right: 1px;
    font-weight: 500;
}

.icon-position {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #828282;
    cursor: pointer;
    pointer-events: none;
}

/* Star Rating  */

.rate {
    height: 46px;
}

.rate:not(:checked)>input {
    position: absolute;
    display: none;
}

.rate:not(:checked)>label {
    float: left;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked label:hover label,
.rate>label:hover input:checked label {
    color: #c59b08;
}

/* footer */
.log-footer .copyright .terms-policy {
    color: #2F2F2F;
}